In [58]:
import pandas as pd
import numpy as np

In [59]:
file = pd.read_csv("AmesHousing_1.txt", delimiter="\t")
file.head(5)
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
Order              2930 non-null int64
PID                2930 non-null int64
MS SubClass        2930 non-null int64
MS Zoning          2930 non-null object
Lot Frontage       2440 non-null float64
Lot Area           2930 non-null int64
Street             2930 non-null object
Alley              198 non-null object
Lot Shape          2930 non-null object
Land Contour       2930 non-null object
Utilities          2930 non-null object
Lot Config         2930 non-null object
Land Slope         2930 non-null object
Neighborhood       2930 non-null object
Condition 1        2930 non-null object
Condition 2        2930 non-null object
Bldg Type          2930 non-null object
House Style        2930 non-null object
Overall Qual       2930 non-null int64
Overall Cond       2930 non-null int64
Year Built         2930 non-null int64
Year Remod/Add     2930 non-null int64
Roof Style         2930 non-null object
Roof Matl          2930 non-null object
Exterior 1st       2930 non-null object
Exterior 2nd       2930 non-null object
Mas Vnr Type       2907 non-null object
Mas Vnr Area       2907 non-null float64
Exter Qual         2930 non-null object
Exter Cond         2930 non-null object
Foundation         2930 non-null object
Bsmt Qual          2850 non-null object
Bsmt Cond          2850 non-null object
Bsmt Exposure      2847 non-null object
BsmtFin Type 1     2850 non-null object
BsmtFin SF 1       2929 non-null float64
BsmtFin Type 2     2849 non-null object
BsmtFin SF 2       2929 non-null float64
Bsmt Unf SF        2929 non-null float64
Total Bsmt SF      2929 non-null float64
Heating            2930 non-null object
Heating QC         2930 non-null object
Central Air        2930 non-null object
Electrical         2929 non-null object
1st Flr SF         2930 non-null int64
2nd Flr SF         2930 non-null int64
Low Qual Fin SF    2930 non-null int64
Gr Liv Area        2930 non-null int64
Bsmt Full Bath     2928 non-null float64
Bsmt Half Bath     2928 non-null float64
Full Bath          2930 non-null int64
Half Bath          2930 non-null int64
Bedroom AbvGr      2930 non-null int64
Kitchen AbvGr      2930 non-null int64
Kitchen Qual       2930 non-null object
TotRms AbvGrd      2930 non-null object
Functional         2930 non-null object
Fireplaces         2930 non-null int64
Fireplace Qu       1508 non-null object
Garage Type        2773 non-null object
Garage Yr Blt      2771 non-null float64
Garage Finish      2771 non-null object
Garage Cars        2929 non-null float64
Garage Area        2929 non-null float64
Garage Qual        2771 non-null object
Garage Cond        2771 non-null object
Paved Drive        2930 non-null object
Wood Deck SF       2930 non-null int64
Open Porch SF      2930 non-null int64
Enclosed Porch     2930 non-null int64
3Ssn Porch         2930 non-null int64
Screen Porch       2930 non-null int64
Pool Area          2930 non-null int64
Pool QC            13 non-null object
Fence              572 non-null object
Misc Feature       106 non-null object
Misc Val           2930 non-null int64
Mo Sold            2930 non-null int64
Yr Sold            2930 non-null int64
Sale Type          2930 non-null object
Sale Condition     2930 non-null object
SalePrice          2930 non-null int64
dtypes: float64(11), int64(27), object(44)
memory usage: 1.8+ MB

In [60]:
numerical = file.select_dtypes(include = ["float64","int64"])
numerical.head()
numerical.drop(["PID","Year Built","Year Remod/Add","Mo Sold","Yr Sold","Garage Yr Blt"], axis=1,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [61]:
null_series = numerical.isnull().sum()
non_null_series = null_series[null_series == 0]
non_null_series

Order              0
MS SubClass        0
Lot Area           0
Overall Qual       0
Overall Cond       0
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
Gr Liv Area        0
Full Bath          0
Half Bath          0
Bedroom AbvGr      0
Kitchen AbvGr      0
Fireplaces         0
Wood Deck SF       0
Open Porch SF      0
Enclosed Porch     0
3Ssn Porch         0
Screen Porch       0
Pool Area          0
Misc Val           0
SalePrice          0
dtype: int64

In [62]:
numerical = numerical[non_null_series.index]
numerical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 22 columns):
Order              2930 non-null int64
MS SubClass        2930 non-null int64
Lot Area           2930 non-null int64
Overall Qual       2930 non-null int64
Overall Cond       2930 non-null int64
1st Flr SF         2930 non-null int64
2nd Flr SF         2930 non-null int64
Low Qual Fin SF    2930 non-null int64
Gr Liv Area        2930 non-null int64
Full Bath          2930 non-null int64
Half Bath          2930 non-null int64
Bedroom AbvGr      2930 non-null int64
Kitchen AbvGr      2930 non-null int64
Fireplaces         2930 non-null int64
Wood Deck SF       2930 non-null int64
Open Porch SF      2930 non-null int64
Enclosed Porch     2930 non-null int64
3Ssn Porch         2930 non-null int64
Screen Porch       2930 non-null int64
Pool Area          2930 non-null int64
Misc Val           2930 non-null int64
SalePrice          2930 non-null int64
dtypes: int64(22)
memory usage: 503.7 KB

In [63]:
correlation = numerical.corr()["SalePrice"].abs()
correlation

Order              0.031408
MS SubClass        0.085092
Lot Area           0.185763
Overall Qual       0.799262
Overall Cond       0.101697
1st Flr SF         0.621676
2nd Flr SF         0.269373
Low Qual Fin SF    0.037660
Gr Liv Area        0.706780
Full Bath          0.545604
Half Bath          0.285056
Bedroom AbvGr      0.143913
Kitchen AbvGr      0.119814
Fireplaces         0.474558
Wood Deck SF       0.327143
Open Porch SF      0.312951
Enclosed Porch     0.128787
3Ssn Porch         0.032225
Screen Porch       0.112151
Pool Area          0.068403
Misc Val           0.015691
SalePrice          1.000000
Name: SalePrice, dtype: float64

In [64]:
features = correlation[correlation.values > 0.3].index
features

Index(['Overall Qual', '1st Flr SF', 'Gr Liv Area', 'Full Bath', 'Fireplaces',
       'Wood Deck SF', 'Open Porch SF', 'SalePrice'],
      dtype='object')

In [65]:
numerical = numerical[features]
numerical.head()

,Overall Qual,1st Flr SF,Gr Liv Area,Full Bath,Fireplaces,Wood Deck SF,Open Porch SF,SalePrice
0,6,1656,1656,1,2,210,62,215000
1,5,896,896,1,0,140,0,105000
2,6,1329,1329,1,0,393,36,172000
3,7,2110,2110,2,2,0,0,244000
4,5,928,1629,2,1,212,34,189900

In [66]:
half = int(numerical.shape[0]/2)
train = numerical[:half]
test = numerical[half:]

In [67]:
features = train.columns.drop("SalePrice")
target = "SalePrice"

In [68]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(train[features],train[target])
prediction = model.predict(test[features])
prediction

array([183356.44585994, 231873.33902624, 219962.21479884, ...,
       113755.85641173, 166377.33484257, 223497.11845395])

In [69]:
coefficients = model.coef_
print(coefficients)

[27636.12388719    51.19073842    39.36605862  -478.34641883
  7127.68470841    44.81993358    63.2177318 ]

In [70]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(test[target],prediction)
rmse = np.sqrt(mse)
rmse

41862.23010252277

In [71]:
features

Index(['Overall Qual', '1st Flr SF', 'Gr Liv Area', 'Full Bath', 'Fireplaces',
       'Wood Deck SF', 'Open Porch SF'],
      dtype='object')

In [72]:
file["TotRms AbvGrd"]

0                7
1                5
2                6
3                8
4                6
5                7
6                6
7                5
8                5
9                7
10               7
11               6
12               7
13               5
14               4
15      10 or more
16               8
17               8
18               4
19               7
20               7
21               6
22               7
23               5
24               6
25               6
26               4
27               5
28               5
29               5
           ...
2900             8
2901             7
2902             9
2903             6
2904             8
2905             5
2906             5
2907             6
2908             5
2909             6
2910    10 or more
2911             5
2912             8
2913             3
2914             5
2915             8
2916             3
2917             5
2918             5
2919             5
2920             6
2921             8
2922             8
2923             5
2924             7
2925             6
2926             5
2927             6
2928             6
2929             9
Name: TotRms AbvGrd, Length: 2930, dtype: object

### Rescaling

In [73]:
rescale = (numerical-numerical.min())/(numerical.max() - numerical.min())
rescale.head()

,Overall Qual,1st Flr SF,Gr Liv Area,Full Bath,Fireplaces,Wood Deck SF,Open Porch SF,SalePrice
0,0.555556,0.277673,0.249058,0.25,0.50,0.147472,0.083558,0.272444
1,0.444444,0.118042,0.105878,0.25,0.00,0.098315,0.000000,0.124238
2,0.555556,0.208990,0.187453,0.25,0.00,0.275983,0.048518,0.214509
3,0.666667,0.373031,0.334589,0.50,0.50,0.000000,0.000000,0.311517
4,0.444444,0.124764,0.243971,0.50,0.25,0.148876,0.045822,0.238626

#### SalePrice also rescaled. So set the SalePrice back to its original value

In [74]:
rescale["SalePrice"] = numerical["SalePrice"]
rescale.head(2)

,Overall Qual,1st Flr SF,Gr Liv Area,Full Bath,Fireplaces,Wood Deck SF,Open Porch SF,SalePrice
0,0.555556,0.277673,0.249058,0.25,0.5,0.147472,0.083558,215000
1,0.444444,0.118042,0.105878,0.25,0.0,0.098315,0.000000,105000

In [75]:
rescale = rescale[(rescale.var()>0.02).index]

In [76]:
variance = rescale.var()>0.02
variance

Overall Qual      True
1st Flr SF       False
Gr Liv Area      False
Full Bath        False
Fireplaces        True
Wood Deck SF     False
Open Porch SF    False
SalePrice         True
dtype: bool

In [83]:
cols = variance[variance>0.02].index
rescale = rescale[cols]
rescale.head()

   Overall Qual  Fireplaces  SalePrice
0      0.555556        0.50     215000
1      0.444444        0.00     105000
2      0.555556        0.00     172000
3      0.666667        0.50     244000
4      0.444444        0.25     189900

In [85]:
half = int(rescale.shape[0]/2)
train = rescale[:half]
test = rescale[half:]

In [86]:
features = train.columns.drop("SalePrice")
target = "SalePrice"

In [87]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(train[features],train[target])
prediction = model.predict(test[features])
prediction

array([200806.78137531, 266028.401604  , 225679.06573367, ...,
       120108.10963466, 144980.39399303, 225679.06573367])

In [88]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(test[target],prediction)
rmse = np.sqrt(mse)
rmse

47827.60822598421